<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="8" android:versionName="2.2013.0.8" package="net.opgenorth.yeg.vote2013">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17" />
	<application android:label="@string/app_name" android:icon="@drawable/ic_launcher" />
</manifest>